* {
.card {
  min-width: 220px;

  padding: 22px;

  border-radius: 24px;

  background: rgba(255,255,255,0.04);

  border: 1px solid rgba(255,255,255,0.08);

  text-align: center;

  backdrop-filter: blur(10px);

  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.card h3 {
  font-family: 'Cinzel', serif;

  margin-bottom: 12px;

  color: #d8b17d;
}

.card p {
  font-size: 2rem;
}

@media (max-width: 768px) {

  .timer {
    font-size: 4rem;
  }

  .hourglass-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.hourglass {
  position: relative;
  width: 220px;
  height: 320px;
}

.glass {
  position: relative;
  width: 180px;
  height: 140px;
  margin: auto;

  overflow: hidden;

  border: 4px solid rgba(255, 220, 170, 0.4);

  background: rgba(255,255,255,0.03);

  box-shadow:
    inset 0 0 30px rgba(255,255,255,0.05),
    0 0 30px rgba(0,0,0,0.5);
}

.top-glass {
  border-radius: 20px 20px 90px 90px;

  clip-path: polygon(
    0 0,
    100% 0,
    65% 100%,
    35% 100%
  );
}

.bottom-glass {
  border-radius: 90px 90px 20px 20px;

  clip-path: polygon(
    35% 0,
    65% 0,
    100% 100%,
    0 100%
  );
}

.sand-top {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom,
    #e9c58f,
    #b97839
  );

  transition: height 1s linear;
}

.sand-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;

  background: linear-gradient(
    to top,
    #e9c58f,
    #b97839
  );

  transition: height 1s linear;
}

.sand-stream {
  width: 5px;
  height: 40px;

  margin: auto;

  background: linear-gradient(
    to bottom,
    #f9deb0,
    #b97839
  );

  border-radius: 999px;

  animation: sandFall 0.15s linear infinite;

  box-shadow:
    0 0 10px rgba(255,210,140,0.7);
}

@keyframes sandFall {

  from {
    transform: translateY(-2px);
  }

  to {
    transform: translateY(2px);
  }
}

  .stats {
    flex-direction: column;
  }

  .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
